 
<html>
  <head>
    <title>DATABASE</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="/javascripts/jquery-3.3.1.min.js"></script>
    <script src="/javascripts/jquery-2.2.1.min.js"></script>
    <script>var $j=jQuery.noConflict(true);</script>
    <script src="/javascripts/js/studentdd.js"></script>
    <script src='/javascripts/jquery-ui.js'></script>
    
    <link href='/javascripts/jquery-ui.css'   rel='stylesheet'></link>
    
  </head>
  <body >
    <form action="/student/addstudent" method="post" 
      enctype="multipart/form-data">
        <table cellspacing='10'>
            <caption><b><i></i></b></caption>
              
              
              <head>
                <meta charset="utf-8">
                <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
                <meta http-equiv="x-ua-compatible" content="ie=edge">
                <title></title>
                <!-- Font Awesome -->
                <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css">
                <!-- Bootstrap core CSS -->
                <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
                
                <!-- Your custom styles (optional) -->
                <link href="/stylesheets/style.min.css" rel="stylesheet">
                <style type="text/css">
                  html,
                  body,
                  header,
                  .view {
                    height: 50%;
                  }
              
                  @media (max-width: 250px) {
                    html,
                    body,
                    header,
                    .view {
                      height: 500px;
                    }
                  }
              
                  @media (min-width: 400px) and (max-width: 450px) {
                    html,
                    body,
                    header,
                    .view {
                      height: 650px;
                    }
                  }
                  @media (min-width: 800px) and (max-width: 850px) {
                            .navbar:not(.top-nav-collapse) {
                                background: #1C2331!important;
                            }
                        }
                </style>
              </head>
              
              <body>
                           <div class="col-md-10 col-xl-5 mb-7">
              
                          <!--Card-->
                          <div class="card" >
              
                            <!--Card content-->
                            <div class="card-body " style="background-color:rgb(108, 172, 142);
                            width: 1410px;
                            text-align-last: center;
                            margin-left: -15px;
                            position: relative
                        ">
              
                              <!-- Form -->
                              <form name="">
                                <!-- Heading -->
                                <h3 class="dark-grey-text text-center "  >
                                  <strong>Payment Information</strong>
                                </h3>
                                <hr>
                                  <div class="form-group">
                                    <center> <label for="sel1" >Batch Name</label></center>
                                    <select class="form-control" id="batch" name="batchname" >
                                      <option >Select BatchName</option>
                                    </select>
                                       
                                   
                            
                                   
                                    
                                  </div>                                    
                                 
                              </form>
                            
          
</div>
                              <!-- Form -->
                                          
                            </div>
                           
                          </div>
                          <!--/.Card-->
              
                        </div>



                        <div id='result'>



                       </div>

                       <div id='vpic'></div>

                       
      
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="/javascripts/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="/javascripts/mdb.min.js"></script>
<!-- Initializations -->
<script type="text/javascript">
// Animations initialization
new WOW().init();
</script>
</body>

</html>
